/* line 1, /Users/dimitrie/Projects/gdk-ce/gitlab/app/assets/stylesheets/print.scss */
.wiki h1,
.wiki h2,
.wiki h3,
.wiki h4,
.wiki h5,
.wiki h6 {
  margin-top: 17px;
}

/* line 10, /Users/dimitrie/Projects/gdk-ce/gitlab/app/assets/stylesheets/print.scss */
.wiki h1 {
  font-size: 30px;
}

/* line 14, /Users/dimitrie/Projects/gdk-ce/gitlab/app/assets/stylesheets/print.scss */
.wiki h2 {
  font-size: 22px;
}

/* line 18, /Users/dimitrie/Projects/gdk-ce/gitlab/app/assets/stylesheets/print.scss */
.wiki h3 {
  font-size: 18px;
  font-weight: bold;
}

/* line 23, /Users/dimitrie/Projects/gdk-ce/gitlab/app/assets/stylesheets/print.scss */
header,
nav,
nav.main-nav,
nav.navbar-collapse,
nav.navbar-collapse.collapse,
.profiler-results,
.tree-ref-holder,
.tree-holder .breadcrumb,
.blob-commit-info,
.file-title,
.file-holder,
.nav,
.btn,
ul.notes-form,
.merge-request-ci-status .ci-status-link::after,
.issuable-gutter-toggle,
.gutter-toggle,
.issuable-details .content-block-small,
.edit-link,
.note-action-button {
  display: none !important;
}

/* line 46, /Users/dimitrie/Projects/gdk-ce/gitlab/app/assets/stylesheets/print.scss */
.page-gutter {
  padding-top: 0;
  padding-left: 0;
}

/* line 51, /Users/dimitrie/Projects/gdk-ce/gitlab/app/assets/stylesheets/print.scss */
.right-sidebar {
  top: 0;
}
